@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
   background-color: #5b3b74;
   transition: background-color 0.5s;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 700px;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
section div#imagem{
    display: block;
    background:#5b3b74 url(../imagens/pexels-soloman-soh-674993-1492232.jpg);
    height: 240px;
}
section div#login{
    display: block;
    padding: 10px;

}