@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background: linear-gradient(to bottom,  #57426b, #8a72b4, #9696bb) no-repeat;
    }
    section{
        width: 80vw;
    }
    section div#imagem{
            float: left;
            width: 40%;
            height: 100%;
    }
    section div#login{
        float: right;
        width: 60%;
    }
}
@media screen and (min-width:992px) {
    body{
        background: linear-gradient(to bottom,  #57426b, #8a72b4, #9696bb) no-repeat;
    }
    section{
        width: 920px;
    }
    section div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section div#login{
        float: right;
        width: 50%;
    }
}