@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background: linear-gradient(to bottom,  #57426b, #8a72b4, #9696bb) no-repeat;
    }
    section{
        width: 80vw;
        height: 350px;
    }
    section div#imagem{
            float: left;
            width: 30%;
            height: 100%;
    }
    section div#login{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width:992px) {
    body{
        background: linear-gradient(to bottom,  #57426b, #8a72b4, #9696bb) no-repeat;
    }
    section{
        width: 920px;
        height: 500px;
    }
    section div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section div#login{
        float: left;
        width: 50%;
    }
    div#login > h1{
        font-size: 2em;
    }
    div#login > p{
        font-size: 1.2em;
    }
}